# This file is for definning the configuration for the APIGatorDoraRouter demo script.
# It contains two sections: the encoder parameters and the APIGatorDoraRouter parameters
# Encoder represents the source of the crypted information that will be forwarder to the APIGatorDoraRouter for broadcasting
# APIGatorDoraRouter is the component to test on this demo. More info at: https://github.com/RHEcosystemAppEng/api-gator-dora-router

# APIGatorDoraRouter demo script config
################################################################################
# This enables or disables verbose output. Set 1 for activate it, set 0 for disable it
VERBOSE=1

# APIGator Decoder config
################################################################################
APIGATOR_DECODER_API_URL="https://api.exate.co"
APIGATOR_DECODER_API_KEY="<API_KEY>"
APIGATOR_DECODER_CLIENT_ID="<CLIENT_ID>"
APIGATOR_DECODER_CLIENT_SECRET="<CLIENT_SECRET>"

# APIGator Encoder config
################################################################################
APIGATOR_ENCODER_API_URL="https://api.exate.co"
APIGATOR_ENCODER_API_KEY="<API_KEY>"
APIGATOR_ENCODER_CLIENT_ID="<CLIENT_ID>"
APIGATOR_ENCODER_CLIENT_SECRET="<CLIENT_SECRET>"
APIGATOR_ENCODER_PAYLOAD_FILE="./payloads/payload_01_input.json"
APIGATOR_ENCODER_PAYLOAD_EXPECTED_FILE="./payloads/payload_01_expected_output.json"


# APIGator Dora Router config
################################################################################
APIGATOR_DORA_ROUTER_URL="http://localhost:8080"
APIGATOR_DORA_ROUTER_RECONSTRUCT_PAYLOAD='
{
    "countryCode": "<COUNTRY_CODE>",
    "dataOwningCountryCode": "<COUNTRY_CODE>",
    "manifestName": "<MANIFEST_NAME>",
    "jobType": "<JOB_TYPE>",
    "dataSet": "PAYLOAD",
    "protectNullValues": boolean,
    "preserveStringLength": boolean,
    "restrictedText": "*********",
    "snapshotDate": "<TIMESTAMP>",
    "dataUsageId": <DATA_USAGE_ID>,
    "matchingRule": {
        "claims": [
            {
                "attributeName": "<VALUE>",
                "attributeValue": "<VALUE>"
            }
        ]
    }
}
'
